# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*.class

# misc
/.settings
/.externalToolBuilders
/eclipsebin
.pmd
.project
.classpath
.classpath.bak
.springBeans
.springBeans.new

Generated*.*
